@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 400px;
  padding: 10px;
  border: 3px solid #aaa;
  border-radius: 8px;
  margin: 10px auto;
}

h1 {
	text-align: center;
}
nav#gnb ul#mainMenu {
	margin: 20px 0 10px;
	justify-content: center;
}

nav#gnb ul#mainMenu li:nth-child(2n-1):hover {
	font-weight: bold;
	cursor: pointer;
}
nav#gnb ul#mainMenu li:nth-child(2n) {
	margin: 0 10px;
}
nav#gnb .selected {
	font-weight: bold;
}

main#main {
	margin: 15px 0;
}
main#main p {
	font-size: 24px;
	text-align: center;
}


div#wrap.loginWrap {
	width: 300px;
}

#main form input {
	width: 90%;
	font-size: 18px;
	padding: 4px 10px 5px;
	margin: 6px auto;
	display: block;
}

#main form button {		
	width: 90%;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 10px;
	border: 1px solid #08f;
	border-radius: 4px;
	margin: 12px auto;
	background-color: #08f;
	cursor: pointer;
	display: block;
}



